
.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 12vw;
    background-color: #282c34;
}

.links-holder {
    display: flex;
    flex-direction: column;
}

.content {
    /* margin-right: a; */
    width: 100%;
}

.movie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1vh;
    row-gap: 1vh;
    /* width: 80vw; */

    /* display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: repeat(5, 300px);
    margin-top: 10px;

    row-gap: 5vh;
    column-gap: 10vw;
    width: 80vw;

    transition: all 0.25s ease-in-out;
    justify-content: center; */
}




.movie {
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    width: 20vw;
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: 0px 0px 5px black;
    padding-bottom: 10px;
}



.movie img {
    width: 90%;
    height: 70%;
    border-radius: 0.5vw;
    margin: 0px;
    margin-top: 2%;
}

.movie h2 {
    width: 100%;
    font-size: 2vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

.movie h3 {
    width: 100%;
    font-size: 1.5vw;
    /* margin-top: 5%; */
    margin-bottom: 0px;
}

.interactable-container {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    /* height: 10%; */
}

.watched {
    display: flex;
    flex-direction: row;
    width: 45%;
    align-content: center;
}



.watched input {
    margin: 0px;
    width: 20px;
    height: 20px;
    align-content: center;
    margin-left: 10px;
    margin-top: 5px;
}

.favorite {
    margin: 0px;
    width: 20px;
    height: 20px;
    align-content: center;
    margin-right: 10px;
    margin-top: 5px;
}


.load-more-button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px black solid;
}



@media only screen and (min-width: 1080px){
    .movie-container {
        row-gap: 1vw;
        column-gap: 2vw;
    }
    .movie {
        width: 10vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .movie h3 {
        font-size: 0.7vw;

    }
    .movie h2 {
        font-size: 1vw;
    }

    .sidebar {
        width: 10vw;
    }

    .watched input {
        width: 15px;
        height: 15px;
    }

    .favorite {
        width: 15px;
        height: 15px;
    }

    iframe {
        width: 50%;
        height: 50vh;
    }
}

@media only screen and (max-width: 999px){
    .movie h2 {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 800px){
    .movie {
        width: 20vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    

    .watched input {
        width: 12px;
        height: 12px;
        margin-bottom: 5px;
    }

    .favorite {
        width: 12px;
        height: 12px;
    }

    iframe {
        width: 100%;
        height: 70vh;
    }
}

@media only screen and (max-width: 500px){
    .movie {
        width: 22vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    iframe {
        width: 80%;
        height: 10vh;
    }

    .watched input {
        width: 12px;
        height: 12px;
        margin-bottom: 5px;
    }

    .favorite {
        width: 12px;
        height: 12px;
    }
}