
.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 10vw;
    background-color: black;
}

.links-holder {
    display: flex;
    flex-direction: column;
}

.movie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1vh;
    row-gap: 1vh;
}


.movie {
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    width: 20vw;
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: 0px 0px 5px black;
}



.movie img {
    width: 90%;
    height: 70%;
    border-radius: 0.5vw;
    margin: 0px;
    margin-top: 2%;
}

.movie h2 {
    width: 100%;
    font-size: 2vw;
    margin-top: 5%;
    margin-bottom: 0px;
}

.interactable-container {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    height: 10%;
}

.watched {
    display: flex;
    flex-direction: row;
    width: 45%;
    align-content: center;
}

.watched h3 {
    background-color: red;
    /* font-size: 1.5vw; */
    font-size: 1vw;
    align-content: center;
    margin: 0px;
}

.watched input {
    margin: 0px;
    width: 20px;
    height: 20px;
    align-content: center;
    margin-left: 10px;
    margin-top: 5px;
}

.favorite {
    margin: 0px;
    width: 20px;
    height: 20px;
    align-content: center;
    margin-right: 10px;
    margin-top: 5px;
}


.load-more-button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px black solid;
}