body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

button {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  /* font-size: 16px; */
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #777;
  color: white;
}


footer {
    background-color: #1b1a24;
    position: fixed;
    bottom: 0px;
    padding-left: 100vw;
    padding-top: 1vh;
    padding-right: 100px;
    margin-left: 0vw;
    border-top: 2px solid black;;
}